*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
}
body{
    background: #090909;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url()
    ;
    background-size: cover;
    background-position: center;
}

html{
    scroll-behavior: smooth;
}
.intro{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
color: #fff;
text-decoration: none;
font-size: 18px;
position: relative;
}

nav ul li a::after{
    content: '';
    width: 100%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
} 
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
header-text h3{
    font-size: 30px;
    margin-top: 10px;
}
.header-text h3 span{
    color: #ff004f;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;

}
.images img{
    height: 100%;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}
/*-----------about-----------------*/
#About{
    padding: 80px 0;
    color: #ababab;
}
.row{
   display: flex;
   justify-content:space-evenly;
   flex-wrap: wrap; 
}

.About-col-1{
    flex-basis: 20%;
    margin-left: 10px;
}
.About-col-1 img{
    width: 50%;
    border-radius: 15px;
    margin-right: 100px;
    
    

}
.About-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

/*-----------gender----------*/
form {
    background-color: #ff004f;
    border-radius: 10px;
    font-family: Arial;
    font-size: 100%;
    padding: 20px;
    width: 200px;
  }
  
  #form-prompt {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  button { margin-top: 10px; }
  
  button:hover, input:hover, label:hover { cursor: pointer; }

 /* ------------education---------*/
 #education{
    padding: 30px 0;
 }
.education-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
   
}

.education-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;


}

